.body { 
background-color: #7fffd4;
font-family: exo;
text-align: center;

 }

 h1 { 
font-family: exo;
  }


.thesislink { 
text-decoration: none; 


 }


@media only screen and (max-width: 580px) { 
.dolphinimage { 
display: none;

 }; 
}
