.body { 
background-color: #7fffd4;
font-family: exo;
text-align: center;

 }

 h1 { 
font-family: exo;
  }


.thesislink { 
text-decoration: none; 


 }

 .dolphinimage { 
border-style: none;
border-color: blue;
border-width: 3px; 
  }




