.body { 
background-color: #7fffd4;
font-family: sans-serif;

 }


.title { 
font-size: 50px;
font-family: "Black Han Sans", sans-serif;
color: navy;
text-align: center; 

 } 
 
.link { 
text-decoration: none;
margin: 40%;
 }

h2 { 
font-family: "Black Han Sans", sans-serif;
color: navy;
font-size: 20px;
text-align: center;
 }

.dolphinimage { 
margin-left: 10%;
margin-right: 10%;
 } 

.essay { 
border: 5px solid navy;
padding: 2%;
margin: 2%;

 }

p::first-letter { 
font-size: 25px;
font-family: Comic Sans;
 }